.page1background{
    background-image: url("https://img.freepik.com/premium-photo/man-riding-motorcycle-with-helmet_867442-10474.jpg");
    background-size:cover;
    height:100vh;
}
.page1card{
    font-family:Roboto;
    background-color:rgba(60,60,60,0.7);
    color:white;
    width:500px;
    padding:80px;
    text-align:center;
    border-radius:10px;
    margin:400px;
}
.page1content{
    margin:20px;
}
.page2background{
    background-image:url("https://img.freepik.com/free-vector/futuristic-car-speedometer-gauge-dial_60438-2055.jpg?t=st=1711080764~exp=1711084364~hmac=fc1453bc8e210316c4df4c82461c143ef5fb6bef8da448987794d7f0334710dc&w=1060");
    background-size:cover;
    height:100vh;
}
.page2cardholder{
    padding-top:60px;
    text-align:center;
}
.aerocard{
    background-color:rgba(60,60,60,0.7);
    color:white;
    border-radius:10px;
    width:500px;
    text-align:center;
    padding:30px;
    margin-bottom:5px;
    font-family:Roboto;
    margin-left:375px;
}
.EPTcard{
    background-color:rgba(60,60,60,0.7);
    color:white;
    border-radius:10px;
    width:500px;
    text-align:center;
    padding:30px;
    margin-top:5px;
    margin-bottom:5px;
    font-family:Roboto;
    margin-left:375px;
}
.managementcard{
    background-color:rgba(60,60,60,0.7);
    color:white;
    border-radius:10px;
    width:500px;
    text-align:center;
    padding:30px;
    margin-top:5px;
    margin-bottom:5px;
    font-family:Roboto;
    margin-left:375px;
}
.mechcard{
    background-color:rgba(60,60,60,0.7);
    color:white;
    border-radius:10px;
    width:500px;
    text-align:center;
    padding:30px;
    margin-top:5px;
    margin-bottom:5px;
    font-family:Roboto;
    margin-left:375px;
}
.fontstyling{
    font-family:Roboto;
}
.whitebg{
    background-color:#ffffff;
}
.text-margin{
    padding:10px;
}
.knowmorebg{
    background-image: url("https://pixexid.com/api/download/image/this-3d-abstract-design-features-a-sleek-and-sophisticated-composition-of-smooth-0mviywpk.jpeg");
    background-size:cover;
    height:100vh;
}
.knowmorecard{
    font-family:Roboto;
    background-color:rgba(60,60,60,0.7);
    color:white;
    width:500px;
    padding:50px;
    text-align:center;
    border-radius:10px;
    margin-left:400px;
}
.aerobg{
    background-image: url("https://wallpapercave.com/wp/wp9986175.jpg");
    background-size: cover;
    height:135vh;
    padding:35px;
}
.imgdim{
    height:200px;
    width:300px;
    border-radius:10px;
    margin:20px;
    margin-left:70px;
}
.mainaerocard{
    font-family:Roboto;
    background-color:rgba(60,60,60,0.9);
    color:white;
    width:500px;
    padding:20px;
    border-radius:10px;
}
.button{
    margin-top:40px;
    width:100px;
    margin-left:310px;
}
.eptbg
{
    background-image: url("https://png.pngtree.com/background/20230525/original/pngtree-futuristic-tunnel-is-shown-with-a-lot-of-electrical-wires-and-picture-image_2731386.jpg");
    background-size: cover;
    height:135vh;
    padding:35px;
}
.mechbg{
    background-image: url("https://static.vecteezy.com/system/resources/previews/032/932/507/non_2x/a-close-up-of-a-robots-gear-free-photo.jpg");
    background-size: cover;
    height:140vh;
    padding:35px;
}
.managebg{
    background-image: url("https://img.freepik.com/free-photo/close-up-keyboard-glasses-with-executives-background_1098-3635.jpg");
    background-size: cover;
    height:150vh;
    padding:35px;
}